<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('labs') }}">Labs</a></li>
          <li><a href="{{ url_for('upload') }}">Nextcloud</a></li>
        </ul>
      </nav>
    </header>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <label for="file">File:</label>
      <input type="file" name="file" id="file" />
      <input type="submit" name="submit" value="submit" />
    </form>
  </body>
</html>
